{{#extend "layout"}}
{{#content "main"}}

    <section class="promotion">
        <div class="container">
            <div class="promotion__inner">
                <div class="promotion__text-column">
                    <p class="promotion__caption">Акция</p>
                    <h2 class="promotion__title section-title">Интерактивный комплект для образования</h2>
                    <p class="promotion__text">Дополнительная скидка 10% в первый проект</p>
                    <a class="promotion__button button" href="#">Подробнее</a>
                </div>
                <div class="promotion__slider-column">

                </div>
            </div>
        </div>
    </section>

{{/content}}
{{/extend}}